.contactBox {
    display: flex;
    width: auto;
    padding-top: 128px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.h1 {
    color: #092b6edd;
    text-align: center;
}

.innerBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.imgMe {
    width: 164px;
    height: 164px;
    border-radius: 164px;
    object-fit: cover;
    background: lightgray 50% / cover no-repeat, #D9D9D9;
}

.contactInfoBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 64px;
}

.contactInfo {
    color: #000;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding-bottom: 130px;
}

@media screen and (min-width: 744px) {
    .h1 {
        font-size: 56px;
    }

    .contactInfo p {
        font-size: 24px;
    }

    .contactBox {
        gap: 85px;
        padding-top: 160px;
    }
}

@media (max-width: 600px) {
    .h1 {
        font-size: 56px;
    }

    .contactInfo p {
        font-size: 23px;
    }

    .contactBox {
        gap: 54px;
        padding-top: 88px;
    }
}