.introBox {
    display: grid;
    grid-template-columns: auto (3, 1fr);
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "smallHeader smallHeader smallHeader"
        "largeHeader largeHeader largeHeader"
        "image text text"
        "arrow arrow arrow";
    padding: 150px 200px 0 200px;
    margin: 100px 200px 10px 200px;
}

.imgWrapper {
    border-radius: 50%;
    grid-area: image;
    overflow: hidden;
    position: relative;
    justify-self: end;
    align-self: self-start;
    width: 200px;
    height: 200px;
    margin-top: 30px;
}

.imgMe {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1.h1 {
    grid-area: largeHeader;
    font-family: Montserrat;
    font-weight: 700;
    text-align: left;
    padding: 20px 0 0px 50px;
    color: #2E3A8C;
    font-size: 7gi0px;
    line-height: 68.26px;
}

.h2 {
    grid-area: smallHeader;
    text-align: left;
    width: 100%;
    color: #000;
    font-size: 38px;
    font-family: Montserrat;
    line-height: 21.94px;
    font-weight: 600;
    padding: 32px 0 10px 0;
}

.introText {
    grid-area: text;
    text-align: left;
    color: #000;
    font-family: Hind;
    padding: 52px 0 100px 40px;
    font-size: 20px;
}

.arrow {
    grid-area: arrow;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    margin: 150px 0 40px 0;
    min-height: 40px;
}

.arrowIcon {
    width: 22px;
    height: 22px;
    border-left: 8px solid #8e697c;
    border-bottom: 8px solid #8e697c;
    transform: rotate(-45deg);
    animation: arrowBounce 1.5s ease-in-out infinite;
    display: block;
}

@keyframes arrowBounce {

    50% {
        transform: translateY(10px) rotate(-45deg);
        opacity: 1;
    }
}

@media (max-width: 1024px) {
    .introBox {
        padding: 180px 126px 1px 126px;
        margin: 0 auto 10px auto;
    }

    h1.h1 {
        grid-area: largeHeader;
        color: #2E3A8C;
        font-size: 52px;
        font-family: Montserrat;
        line-height: 39.01px;
        font-weight: 700;
        text-align: left;
        padding: 17px 20px 10px 60px;
    }

    .h2 {
        grid-area: smallHeader;
        text-align: left;
        font-size: 23px;
        font-family: Montserrat;
        line-height: 21.94px;
        font-weight: 600;
        padding-top: 32px;
    }

    .introText {
        grid-area: text;
        text-align: left;
        color: #000;
        font-family: Hind;
        padding: 32px 0 70px 30px;
        font-size: 16px;
    }

    .imgWrapper {
        width: 140px;
        height: 140px;
        margin-top: 30px;
    }

    .arrow {
        margin: 150px 0 80px 0;
    }

    .arrowIcon {
        border-left: 6px solid #8e697c;
        border-bottom: 6px solid #8e697c;
    }
}

@media (max-width: 820px) {
    .introBox {
        padding: 180px 86px 1px 86px;
        margin: 0 auto 10px auto;
    }
}

@media (max-width: 600px) {
    .introBox {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-template-areas:
            "image"
            "smallHeader"
            "largeHeader"
            "text"
            "arrow";
        padding: 64px 16px 0 16px;
    }

    .imgWrapper {
        width: 160px;
        height: 160px;
        justify-self: center;
        align-self: center;
    }

    h1.h1 {
        font-size: 35px;
        padding: 0 0 0 30px;

    }

    h2.h2 {
        font-size: 18px;
        padding: 32px 15px 5px 15px;
    }

    .introText {
        padding: 32px 15px 0 15px;
    }


    .arrow {
        margin: 90px 0 28px 0;
    }

    .arrowIcon {
        width: 18px;
        height: 18px;
        border-left: 4px solid #8e697c;
        border-bottom: 4px solid #8e697c;
    }
}